@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.button {
  border: none;
  padding: 6px 24px;
  border-radius: 4px;
  font-size: 0.9rem;
}

.button-green {
  background: #044040;
  color: rgba(255, 255, 255, 0.89);
}

.button-red {
  background: #d92525;
  color: rgba(255, 255, 255, 0.89);
}

.button-red-dark {
  background: #591c21;
  color: rgba(255, 255, 255, 0.89);
}

.button-grey {
  color: rgba(0, 0, 0, 0.89);
}